In [17]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split

In [18]:
df=pd.read_csv("airfoil_self_noise.dat",sep="\t",header=None)

In [19]:
df

         0     1       2     3         4        5
0      800   0.0  0.3048  71.3  0.002663  126.201
1     1000   0.0  0.3048  71.3  0.002663  125.201
2     1250   0.0  0.3048  71.3  0.002663  125.951
3     1600   0.0  0.3048  71.3  0.002663  127.591
4     2000   0.0  0.3048  71.3  0.002663  127.461
...    ...   ...     ...   ...       ...      ...
1498  2500  15.6  0.1016  39.6  0.052849  110.264
1499  3150  15.6  0.1016  39.6  0.052849  109.254
1500  4000  15.6  0.1016  39.6  0.052849  106.604
1501  5000  15.6  0.1016  39.6  0.052849  106.224
1502  6300  15.6  0.1016  39.6  0.052849  104.204

[1503 rows x 6 columns]

In [20]:
df.columns=["Frequency","Angle of attack","chord length","Free-stream velocity","suction side","pressure level"]

In [21]:
df

,Frequency,Angle of attack,chord length,Free-stream velocity,suction side,pressure level
0,800,0.0,0.3048,71.3,0.002663,126.201
1,1000,0.0,0.3048,71.3,0.002663,125.201
2,1250,0.0,0.3048,71.3,0.002663,125.951
3,1600,0.0,0.3048,71.3,0.002663,127.591
4,2000,0.0,0.3048,71.3,0.002663,127.461
...,...,...,...,...,...,...
1498,2500,15.6,0.1016,39.6,0.052849,110.264
1499,3150,15.6,0.1016,39.6,0.052849,109.254
1500,4000,15.6,0.1016,39.6,0.052849,106.604
1501,5000,15.6,0.1016,39.6,0.052849,106.224
1502,6300,15.6,0.1016,39.6,0.052849,104.204

In [22]:
## Train Test split
df.isnull().sum()

Frequency               0
Angle of attack         0
chord length            0
Free-stream velocity    0
suction side            0
pressure level          0
dtype: int64

In [23]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [25]:
## EDA

In [26]:
import seaborn as sns

In [27]:
sns.pairplot(X_train)

In [28]:
import matplotlib.pyplot as plt

In [29]:
X_train.corr()

,Frequency,Angle of attack,chord length,Free-stream velocity,suction side
Frequency,1.000000,-0.273327,-0.000324,0.125247,-0.239878
Angle of attack,-0.273327,1.000000,-0.498257,0.058603,0.762567
chord length,-0.000324,-0.498257,1.000000,0.013061,-0.220849
Free-stream velocity,0.125247,0.058603,0.013061,1.000000,-0.000519
suction side,-0.239878,0.762567,-0.220849,-0.000519,1.000000

In [30]:
sns.boxplot(X_train["Frequency"])

C:\Users\pouru\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [32]:
sns.scatterplot(X_train['Frequency'],X_train['suction side'])

C:\Users\pouru\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [33]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [39]:
regressor.intercept_

132.47483241933395

In [40]:
regressor.coef_

array([-1.27532160e-03, -3.78159403e-01, -3.47543758e+01,  1.00771473e-01,
       -1.50435182e+02])

In [42]:
regressor.score(X_test,y_test)

0.5124474986138432

In [34]:
import pickle
pickle.dump( regressor, open( "model.pkl", "wb" ) )

In [37]:
pickle_model=pickle.load( open( "model.pkl", "rb" ) )
pickle_model.predict(X_test)

array([124.06768512, 119.59316737, 120.29933092, 129.61912851,
       129.81089779, 132.61068301, 122.44438053, 126.7461602 ,
       129.99906397, 125.94601069, 132.50626617, 113.78942913,
       130.10151743, 132.51123677, 123.6412694 , 114.10666435,
       124.31679905, 126.6766228 , 129.24252599, 131.79580713,
       125.77675782, 125.02970619, 116.44955941, 129.88018679,
       124.2232864 , 124.67967727, 131.60657138, 124.57186337,
       115.76458243, 123.39652912, 125.13674229, 123.92018299,
       125.4841971 , 118.61796101, 121.70395495, 130.95730463,
       131.39243856, 128.29169206, 121.31077749, 117.99901537,
       126.41139865, 128.86175217, 126.44075781, 123.46463781,
       123.08590861, 130.13707376, 125.11244177, 120.01115538,
       123.19344296, 132.81698484, 128.72414835, 117.7903339 ,
       123.4283675 , 122.57110308, 126.71758509, 120.44811529,
       123.29741941, 128.68403927, 124.25898336, 123.22309466,
       125.44226349, 131.08621938, 126.73671008, 131.37055859,
       120.03133401, 122.99875849, 126.51722526, 122.76134003,
       130.07459161, 126.8638411 , 129.03744516, 131.74107321,
       126.43939179, 118.61841574, 132.540228  , 127.04074559,
       123.58354972, 129.27712377, 131.50090249, 125.31559274,
       122.69944485, 119.17279369, 125.15062801, 124.92380917,
       122.46541323, 117.80942608, 111.82459777, 130.03809662,
       119.34929493, 122.75349356, 119.28272205, 127.71038686,
       123.20957349, 129.61821695, 117.62480397, 122.04267784,
       116.56980888, 118.24840471, 131.12005135, 126.13472087,
       128.32740102, 114.81071137, 125.59240048, 121.87444921,
       124.50853062, 121.73946412, 117.37116626, 121.38950976,
       128.07494391, 126.75822158, 121.9473756 , 130.39058684,
       123.57901498, 129.45046494, 123.34036966, 127.40497978,
       120.71407613, 116.09255864, 126.78001924, 119.59054722,
       124.63907276, 129.27290366, 131.23600726, 125.38768472,
       117.22876548, 125.03783454, 122.88212284, 121.29472019,
       127.78060658, 113.59962982, 127.89518931, 128.25716734,
       112.05138671, 120.78333989, 127.3143531 , 122.64919011,
       126.24520939, 118.12482823, 124.17066122, 127.94569228,
       129.14013602, 128.00555065, 122.07498755, 129.06663574,
       126.51796117, 126.21213183, 128.41880749, 129.85778694,
       131.28567849, 126.22258712, 125.49964813, 130.40891634,
       117.89255302, 127.20383409, 122.21339606, 131.70008186,
       125.25400255, 127.45523732, 130.68227453, 124.77706196,
       126.37870966, 119.02908434, 124.1354628 , 123.13114077,
       120.10067586, 123.6473158 , 126.01646168, 122.19049689,
       122.67932019, 126.45473041, 125.57022744, 123.99796865,
       125.9248514 , 126.56822046, 121.82253617, 119.14174787,
       123.48187328, 121.19145276, 123.34969111, 120.38386676,
       130.28069521, 117.29806246, 115.68517606, 127.33520086,
       121.79508089, 124.8955637 , 116.08603297, 130.31830035,
       116.17613687, 121.96719892, 124.92154028, 119.06937482,
       118.0644904 , 123.40546826, 127.83994364, 129.87193779,
       123.10682743, 125.21108935, 127.87457086, 121.56517658,
       122.30822812, 123.08204133, 127.60198453, 126.90250189,
       121.82752657, 124.87140607, 123.86142069, 131.92939592,
       127.37527479, 122.507337  , 125.14767538, 130.91555179,
       116.54328768, 131.36344733, 124.76403925, 124.67320909,
       126.67702165, 132.43110139, 128.42897495, 117.17005633,
       134.59461818, 115.45101784, 125.6486924 , 126.925435  ,
       122.05744144, 127.52656072, 127.33571009, 129.71463525,
       125.08686193, 122.98366176, 126.35649528, 131.53211091,
       121.35991673, 121.35173693, 120.73589987, 127.03003405,
       131.73296148, 129.36180915, 126.07159861, 117.36548797,
       114.93349444, 131.74030569, 118.31278883, 122.55274486,
       131.14028063, 126.48833068, 125.68703351, 123.39225148,
       120.86030206, 127.46101509, 117.34309414, 112.51560646,
       109.73192819, 126.8411181 , 132.17024274, 126.21635193,
       123.26471932, 116.81344025, 124.35185869, 121.11506554,
       127.47445237, 126.6652314 , 125.27416789, 129.70574   ,
       128.51422781, 120.86586882, 130.86671039, 126.33759535,
       127.73728226, 124.90670396, 128.20413456, 122.89533962,
       122.02717056, 130.69740905, 124.42572554, 131.81108113,
       133.93456108, 125.60861128, 126.52228709, 120.55379196,
       125.98603707, 124.47680279, 127.22385229, 125.92932777,
       134.28360468, 126.29442517, 129.02146938, 121.18996503,
       129.23676931, 124.20501438, 121.31774928, 133.1978456 ,
       125.75723245, 114.5385673 , 122.51163055, 127.09185589,
       129.14155753, 119.50172375, 131.91075074, 118.31165502,
       130.1074663 , 132.64588019, 130.32496922, 123.83559544,
       129.26436685, 129.98981066, 119.91852343, 118.57461904,
       132.82748768, 131.55601681, 125.34105833, 130.91169192,
       126.0404394 , 123.09892752, 119.6343304 , 130.91421372,
       128.81407537, 124.09485013, 128.31040516, 124.1412396 ,
       130.24487498, 127.91213288, 128.03668935, 120.72665977,
       130.73855433, 118.28129507, 125.65747063, 123.12099102,
       118.36132702, 126.34418494, 125.7702812 , 118.55030704,
       131.43888175, 128.182873  , 124.60301015, 124.87833136,
       132.03678829, 126.5450107 , 125.02166924, 126.35658627,
       133.39601575, 123.16880452, 127.79328277, 127.69062796,
       120.0775871 , 128.02406495, 130.41687913, 126.0062157 ,
       123.07040249, 125.8030275 , 124.91174089, 125.00396603,
       129.56707527, 126.58949282, 133.10560204, 126.05809182,
       130.26542121, 119.30517597, 124.80185458, 123.48703164,
       120.46328944, 129.79838582, 120.30661982, 124.03666163,
       123.67709424, 127.74614778, 122.62705852, 123.98735191,
       123.91169041, 124.50605328, 124.32274944, 131.12177471,
       115.11057474, 127.15365335, 120.78600773, 125.74408616,
       130.83509785, 131.03061417, 122.46677436, 121.10095024,
       126.41903568, 122.46737764, 124.36964909, 129.57005096,
       127.84006149, 127.43728311, 130.03385303, 127.90909558,
       125.14371408, 124.52914441, 125.04425651, 124.80170109,
       131.28774098, 123.65989945, 133.6155142 , 127.37552688,
       127.59364822, 131.33857938, 130.00771895, 131.66827497,
       130.1811089 , 130.90071547, 128.17514334, 124.40646236,
       120.01924509, 129.37276919, 124.49841625, 126.13269905,
       125.789669  , 123.82806646, 123.55755648, 127.85477996,
       130.09821299, 116.84648666, 122.12555013, 119.25725721,
       130.29316094, 117.21516655, 126.271526  , 117.86673412,
       132.98160016, 130.89353855, 125.70652414, 122.02271479,
       121.30665561, 125.84645763, 121.44281263, 123.94399778,
       117.96911609, 125.08199201, 125.89781336, 121.8861261 ,
       118.77889492, 112.90611405, 121.58875796, 124.36742744,
       126.61637993, 129.47446577, 125.03927304, 122.25767882,
       118.77071528, 130.52174965, 134.14699122, 119.04382303,
       127.22715362, 130.79082385, 122.77283067, 115.95747584,
       130.67575742, 121.29456669, 123.85114879, 123.22375989,
       129.68730842, 127.61291695, 128.90084394, 110.98739224,
       123.8215601 , 119.24443769, 117.10676422, 124.50143622,
       117.03990403, 118.46346734, 121.86977921, 127.11845271,
       122.141558  , 118.37341593, 117.04423312, 124.81379   ,
       119.87463112, 129.23387101, 123.97164389, 125.36750609,
       118.3532373 , 123.35434112, 127.13843639, 125.78500279,
       125.41472276, 130.19211167, 119.75811287, 125.3986529 ,
       121.44135872, 121.50352962, 124.37154933, 126.54122609,
       118.80109373, 114.31526933, 117.85713728, 132.75835495,
       122.32081177, 126.29511271, 122.36109769, 133.30043056,
       124.3798378 , 123.85183082, 136.18877018, 132.02510896])